{{define "content"}}
<main class="project-view">
    {{if not .DataAvailable}}
    <h1>Project details</h1>
    <p>
        We are still waiting for on chain confirmation. Please try again a bit later
    </p>
    {{else}}
    <header>
        <h1>{{.ShortName}}</h1>
        <strong>by {{.Owner}}</strong>
    </header>

    <div class="description-wrapper">
        <div class="description">
            {{.Description}}
        </div>
        <aside class="team">
            <h2>Team</h2>
            <ul>
                <li>
                    {{.Owner}}<br>
                    <small>Owner</small>
                </li>
                {{range $member := .Team}}
                <li>{{$member}}</li>
                {{end}}
            </ul>
            <a class="button" href="/projects/{{.ProjectId}}/apply" ref="nofollow">Apply to join</a>
            <a href="/projects/{{.ProjectId}}/proposals" ref="nofollow">View proposals</a>
        </aside>
    </div>

    <tip-project class="project-tip" project-id="{{.ProjectId}}">
        <form>
            <input>
            <button class="primary">Tip</button>
            <small>tip jar address: {{.TipJar}}</small>
        </form>
        <span class="success" data-success hidden>Tip sent, thank you!</span>
    </tip-project>

    <h2>
        Newest updates
    </h2>
    <project-updates class="project-updates" updates="{{.Updates}}" project-id="{{.ProjectId}}" owner="{{.Owner}}">
        <template id="update">
            <li>
                <time data-posted-date></time>
                <div data-content></div>
            </li>
        </template>
        <form id="postUpdate" class="hidden">
            <label>
                Update
                <textarea name="content"></textarea>
                <button class="primary">Post</button>
            </label>
            <span class="success" data-success hidden>Update was posted</span>
            <span class="error" data-error hidden>Something went wrong</span>
        </form>
        <ul id="updates">
            No updates yet.
        </ul>
        <button class="no-border" data-show-form id="showForm">Post new update</button>
    </project-updates>

    <h2>Comments</h2>
    <project-comments comments="{{.Comments}}" project-id="{{.ProjectId}}">
        <template id="comment">
            <li>
                <strong data-author></strong>
                <div data-content>

                </div>
            </li>
        </template>
        <form id="addComment">
            <label>
                Add comment
                <textarea name="content"></textarea>
                <button class="primary">Add comment</button>
            </label>
            <span class="success" data-success hidden>Your comment was posted</span>
        </form>
        <ul id="comments">

        </ul>
    </project-comments>

    {{end}}
</main>
{{end}}