{{define "content"}}
<main class="main-page">

    <div class="main-banner">
        <div class="main-banner-text">
            <h1>Build Better <span style="color: var(--color-yellow);">Together</span></h1>
            <p>
                Founder community built for developers and designed to support team building, idea validation and collaborative project
                development
            </p>
            <div class="cta">
                <a href="/projects/new" class="button primary">Post Idea</a>
                <a href="/projects" class="button">Join Idea</a>
            </div>
            <p>
                Break the lone wolf pattern and hunt with a pack
            </p>
        </div>
        <aside>
            <svg viewBox="0 0 792 396.83"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><use href="#svgPeople"></use></svg>
        </aside>
    </div>

    <div class="perks section">
        <div>
            <h2>What building alone looks like</h2>

            <!-- <ul>
                <li>
                    Overtasked
                </li>
                <li>
                    Burning out
                </li>
                <li>
                    Doubts if the idea is worth developing
                </li>
                <li>
                    Low self esteem
                </li>
                <li>
                    Slowed down because of the workload
                </li>
                <li>
                    Missing funding opportunities
                </li>
            </ul> -->

            <ul>
                <li>
                    You started building alone so you could move fast
                </li>
                <li>
                    Overtasked yourself and burned out
                </li>
                <li>
                    Having doubts if the idea is worth developing
                </li>
                <li>
                    Low self esteem won't let you have a winning mindset
                </li>
                <li>
                    Got slowed down because of the amount of work
                </li>
                <li>
                    You could miss funding opportunities
                </li>
                <!-- <li>
                    Losing opportunities will make you discontinue building
                </li> -->
            </ul>
        </div>

        <div>
            <h2 style="color: var(--color-yellow);">What building in public looks like</h2>

            <!-- <ul>
                <li>
                    Publicize the idea, build audience
                </li>
                <li>
                    Find cofounders
                </li>
                <li>
                    Get ideas validated by the community
                </li>
                <li>
                    Believe in your idea
                </li>
                <li>
                    Team moves faster
                </li>
                <li>
                    Build MVP faster, get funding
                </li>
            </ul> -->

            <ul>
                <li>
                    You started building alone so you could move fast
                </li>
                <li>
                    Publicize the idea and find cofounders
                </li>
                <li>
                    Validate the idea by sharing with the community
                </li>
                <li>
                    Be certain you are moving in the right direction
                </li>
                <li>
                    Building faster thanks to the team and validated idea
                </li>
                <li>
                    Launch MVP and get funding
                </li>
                <!-- <li>
            Acheive MVP and get approoved for bigger investment rounds
            </li> -->
            </ul>
        </div>
    </div>

    <div class="intro section">
        <h2>Introducing RootFounders</h2>

        <p>
        A build-in-public founder community designed for idea validation and collaborative
        development. The platform offers a space where founders can connect with like-minded individuals, share progress
        transparently, and receive feedback to refine their ideas.
        </p>
        <a href="/projects" class="button primary">Explore projects</a>
    </div>

    <div class="expl section">
        <div>
            <h2>Validate idea</h2>
            <p>
                Sharing your idea on RootFounders platform will help you acheive feasibility through insight from comments, votes,
                endorsement and even tips.
            </p>
        </div>
        <div>
            <h2>Find cofounders</h2>
            <p>
                Discover interest on your ideas as interested indiviuals can easily send proposal to build together with you. This way
                you build a team of likeminded, experienced individuals &ndash; the first step to building a successful project.
            </p>
        </div>
        <div>
            <h2>Community engagement made easy</h2>
            <p>
                RootFounders is built to support ideas easily with the implementation of platform credits. Credits act as a spendable
                token to support other builders' ideas and build thriving communities.
            </p>
        </div>
    </div>

    <!-- <div class="why section">
        <div>
            RootFounders focuses on solving background issues from the idea generation stage, so builders can build
        </div>

        <div>
            Every skill is needed at the idea stage of a project. Don't overlook skill contribution. Who knows, maybe you will even learn
            something new?
        </div>

        <div>
            We are helping builders screen ideas even before they start bulding
        </div>

        <div>
            Don't build alone. Take your team, community support, social proof and nice idea to the front of the judges or investors
        </div>

        <div>
            RootFounders is built as a platform that gives community support to builders without hassle
        </div>

        <div>
            No need to be shy when others are contributing to your ideas. Be part of a community.
        </div>
    </div> -->

    <div class="bottom-cta section">
        <span>Start building in public now</span>
        <a class="button primary" href="projects/new">Post Idea</a>
    </div>

</main>

{{ template "svgs"}}
{{end}}